<div class = "container posts" id = "<%=post.id%>">

  <div id="post-image-container">
    <% if post.image %>
    <br><img src="<%= post.image.url %>" alt="<%= post.image.alt_text %>" width="400" height= "400">
    <% end %>
  </div>

  <li><h2><%= post.body %></h2>
  <h3><%= post.caption %></h3>
  <h3 class = "comments" id="comment-list-<%= post.id %>">Comments</h3>
  <% post.comments.each do |comment| %>
    <%= erb :'/comments/_individual_comment', layout: false, locals: {comment: comment} %>
    <% end %>
  <% post.tags.each do |tag| %>
    <a href= "/posts/<%= post.id %>/tags/<%= tag.id %>">#<%= tag.body %></a>&nbsp;
    <% end %>
<h4>Posted by <a href= "/users/<%=post.user.id%>"><%= post.user.username %></a></h4>

  <% if logged_in? %>
    <h4><a class= "new-comment-link" id= comment-link-<%=post.id%> href= '/posts/<%=post.id%>/comments/new'>Add comment</a></h4>
  <% end %>

  <% if logged_in? && !current_user.liked_post?(post) && current_user != post.user %>
  <form class= "like-button" method="get" action="/posts/<%= post.id%>/likes/new">
    <button type="submit">Like</button>
  <% end %>
    <h5 class= "like-count"><%= post.likes.length %> likes </h5>
  </form>

  <% if logged_in? && current_user.id == post.user_id %>
  <a href="/posts/<%=post.id%>/edit">Edit Post</a>
  <form id = "delete<%=post.id%>" class= "delete-post-form" action= '/posts/<%=post.id%>' method= "post">
      <input type= "hidden" name="_method" value="delete">
      <input type= "submit" value = "Delete Post">
    </form>
  <% end %>

</div>
