<div class = "container" id="<%= post.id %>">
  <li><h2><%= post.body %></h2>
  <h3><%= post.caption %></h3>
  <% post.comments.each do |comment| %>
    <li><%= comment.body %></li>
    <% end %>
  <% post.tags.each do |tag| %>
    <h3><a href= "/tags/<%= tag.id %>">#<%= tag.body %></a></h3>
    <% end %>
<h4>Posted by <a href= "/users/<%=post.user.id%>"><%= post.user.username %></a></h4>

  <% if logged_in? %>
    <h4><a class = "new-comment-link" href= '/posts/<%=post.id%>/comments/new'>Add comment</a></h4>
  <% end %>

  <% if logged_in? && !current_user.liked_post?(post) && current_user != post.user %>
  <form class= "like-button" method="get" action="/posts/<%= post.id%>/likes/new">
    <button type="submit">Like</button>
  <% end %>
    <h5 class= "like-count"><%= post.likes.length %> likes </h5>
  </form>

  <% if logged_in? && current_user.id == post.user_id %>
  <a href="/posts/<%=post.id%>/edit">Edit Post</a>
  <p>Delete</p>
  <% end %>

</div>
